NODE_ENV=development
PORT=3000
API_PREFIX=api

FRONTEND_URL=http://localhost:5173

SUPABASE_URL=
SUPABASE_SECRET_KEY=

EMAIL_PROVIDER=graph

GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_MAIL_SENDER=